<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine on
    # Send request via index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

php_value upload_max_filesize 500M
php_value post_max_size 500M
php_value max_execution_time 2800
php_value max_input_time 2800
php_value memory_limit 228M